body{
    margin: 0;
}

.nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: darkcyan;
    list-style-type: none;
}

.nav-item {
    padding: 15px;
    cursor: pointer;
}

.nav-item a {
    text-align: center;
    text-decoration: none;
    color: white;
}

.nav-item:nth-child(1) {
    background-color: black;
}

.nav-item:hover:nth-child(1) {
    background-color: black;
}

.nav-item:hover {
    background-color: darkgray;
}
img.absolute {
    position : absolute;
    left: 0%;
    top: 0%;
}
#introduce {
    margin: 20px;
    display: block;
}

#cctvdiv {
    width: 725px;
    margin: 0 auto;
}

#cctvSelectTable {
    margin-top : 20px;
    margin-left : 20px;
    display: none;
}
th, td {
    border: 1px solid lightgray;
    text-align: center;
}

.elseTd {
    border: 1px solid white;
    text-align: right;
}

.pageNum {
	list-style:none;
    display:inline;
}
.pageNum li {
    float:left;
}
.pageNum li .numBox  {
	float:left;
	padding:4px;
	margin-right:3px;
	width:15px;
	color:#000;
	font:bold 12px tahoma;
	border:1px solid #eee;
	text-align:center;
	text-decoration:none;
}
.pageNum li .numBox:hover, .pageNum li .numBox:focus {
	color:#fff;
	border:1px solid darkcyan;
	background-color:darkcyan;
}

#videoDiv {
    width: 1002px;
    margin: 0 auto;
    display: none;
}

video {
    float: left;
}

.label {
    width:498px;
    height:30px;
    display: inline-block;
    background-color: lightgray;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    margin-top: 5px;
}

#videoDiv {
    width: 1002px;
    margin: 0 auto;
    display: none;
}

video {
    float: left;
}

.label {
    width:345px;
    height:25px;
    display: inline-block;
    background-color: lightgray;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    line-height: 29px;
    margin-top: 5px;
    margin-left: 1px;
    margin-right: 1px;
}